/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2019, 10:52:10 PM
    Author     : udin
*/

body{

    background: #F5EBC9;
    
}
.img1{
    background-color: #E5E5E5;
}
.card{
    margin: 12.5% auto;
}
.form-group{
    background:#E5E5E5;
}
.btn{
    background:  #EA4C89 !important;
    width: 246px;
    
}
.text-center{
    color: #E5E5E5 !important;
}
.Card-Link{
    text-align: center !important;
    color: #000000;
    
}


