<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Film</title>
    <link rel="stylesheet" href=".css/film.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                        <img src=".IMG/harry_Potter.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <img src=".IMG/sasha_was.jpg" width="230" height=330>
                            <!-- <span>TExt</span> -->
                        </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/War.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/Hollow Point.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/Hollow Point.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/Hollow Point.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/Hollow Point.jpg" width="230" height=330>
                    </div>
                    <div class="foto_1">
                            <!-- <span>TExt</span> -->
                            <img src=".IMG/Hollow Point.jpg" width="230" height=330>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    
        
    </body>
</html>
